<!DOCTYPE html>
<html>
<head>
  <title>Accredition</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
 <div class="container">
    <div class="masthead">
        <h3 id="company-name" class="text-muted">University LOGO</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="#">HLC Evidence Request Form</a></li>
            <li><%= link_to("Sign Out", logout_path) %></li>
          </ul>
        </nav>
    </div>

     <%= yield %>
  </div> <!-- /container -->
<footer class="footer">
  <h6>© The University of New Mexico, Albuquerque, NM 87131, (505) 277-0111</h6>
  <h6>New Mexico's Flagship University</h6>
</footer>
</body>

</html>
